
    /* Set the container's height to control the image size */
    .carousel-item {
        height: 50vh; /* Set the container height to 50% of the viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }

    /* Ensure the image fits within the container without exceeding */
    .carousel-item img {
        width: 100%;
        height: 100%;
        opacity: 100%;
        object-fit: cover;
    }

    /* Circular buttons */
    .carousel-caption button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 24px;
        margin: 10px;
    }

    /* Center buttons */
    .carousel-caption {
        text-align: center;
    }

    /* Style for the "btn-x" button */
    .carousel-caption button.btn-x {
        width: auto;
        margin: 0 auto;
        max-width: 20vh;
        object-fit: cover;
    }

    /* Add margin to the button container */
    .button-container {
        margin-top: 20vh; /* Adjust the margin as needed */
    }

    /* Custom font from Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

    /* Style for the title */
    .creative-title {
        font-family: 'Great Vibes', cursive;
        font-size: 25px; /* Adjust the size as needed */
        color: #d428ba; /* Set the color to black */
        font-weight: bold; /* Make the font bolder */
        font-style: italic;
    }

    /* Add a CSS transition effect for opacity and visibility */
    .carousel-item {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end; /* Set vertical alignment to bottom */
      overflow: hidden;
      position: relative;
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
    /* Hide images by reducing opacity and visibility */
    .carousel-item.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .carousel-item-swipe-left {
        animation: swipe-left 0.5s forwards;
    }

    @keyframes swipe-left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    body {
      margin: 0;
      padding: 0;
      /* overflow: hidden;  prevents vertical scrolling */ 
  }
  
  #background-image {
      position: fixed;
      top: 0;
      left: 0;
      width: 420px; /* Set the desired width */
      height: 844px; /* Set the desired height */
      object-fit: cover;
      z-index: -1; /* Place the image behind all other elements */
  }
  
  .bg-light-purple {
    background-color: #CBC3E3;
  }

  #header1 {
    font-family: 'Great Vibes', cursive;
    font-size: 25px; /* Adjust the size as needed */
    color: #11032e; /* Set the color to black */
    font-weight: bold; /* Make the font bolder */
    font-style: italic;
}